<div class="content-header">
    <% if (feedInfo.image !== undefined && feedInfo.image.url !== null && feedInfo.image.url !== undefined){ %>
        <img src="<%=feedInfo.image.url%>" />
    <% }%><span class="title"><%= feedInfo.title %></span><br />
    <span class="attribute"><%= feedInfo.description %></span><br />
    <span class="attribute"><a href="<%= feedInfo.link %>" target="_blank"><%= feedInfo.link %></a></span><br />
    <span class="attribute">RSS Version: <%= rssVersion %></span><br />
    <div class="tableInfo">
      Presenting feed items between <span id="feedStartTime"><%= moment(queryStartDate).format('L') %></span> - <span id="feedEndTime"><%= moment(queryEndDate).format('L') %></span>
    </div>
</div>
<table id="feedSummaryTable" class="feed-summary-table">
    <thead>
      <tr>
        <th style="width: 2%;"></th>
        <th style="width: 78%;">TITLE</th>
        <th style="width: 10%;">AUTHOR</th>
        <th style="width: 10%;">DATE</th>
      </tr>
    </thead>
    <tbody>
      <% feedItems.forEach(fi => { %>
        <tr <%= !fi.read ? 'class=unreadEntry' : ''  %>>
            <td><img src="<%= !fi.read ? './img/green-icon.png' : './img/white-icon.png'  %>" /></td>
            <td><a href="#" title="<%= fi.title %>" ><%= fi.title %></a></td>
            <td><%= fi.author !== undefined ? fi.author : '' %></td>
            <td><%= fi.pubDate !== undefined && fi.pubDate !== null ? moment(fi.pubDate).format('L') + ' ' + moment(fi.pubDate).format('LTS') : '' %></td>
        </tr>
      <% }); %>  
    </tbody>
  </table>
  <div id="tableFooter" class="feed-summary-table-footer"><a id="loadMore" href="#">Load More</a></div>